server:
  port: 8201
#logging:
#  level:
#    root: debug
spring:
  application:
    name: service-hosp
  profiles:
    active: dev
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/yygh_hosp?characterEncoding=utf-8&useSSL=false
    username: root
    password: 1234
  data:
    mongodb:
      uri: mongodb://192.168.5.46:27017/yygh_hosp

